* {
  box-sizing: border-box;
}

.box {
  background: transparent;
  border: 0;
}
.col {
  height: 180px;
  font-size: 14px;
  line-height: 120px;
  background: #0092ff;
  border-radius: 4px;
}
.box {
  height: 180px;

  font-size: 14px;
  line-height: 120px;
  background: #0092ff;
  border-radius: 4px;
  margin: 5px 10px;
}
.bbb {
  padding: 8px 16px;
  font-size: 13px;
  background: #f9f9f9;
  border-radius: 6px;
}
pre.demo-code {
  direction: ltr;
}
.ant-col {
  padding: 0;
}
